@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.work-container {
  display: flex;
  justify-content: space-between;
  padding: $padding-L;
  position: relative;

  @include respond-to(mobile) {
    padding: $padding-M;
  }
}
