@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.footer {
  background-color: &gray-scale-9;
  padding: 24px 120px;
  text-align: center;

  .top-footer {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: end;
    margin: 80px 0;

    h1 {
      color: $gray-scale--1;
    }
  }

  .contact-container {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    color: $gray-scale--1;

    span {
      color: $gray-scale-2;
    }

    .bottomleft-footer {
      text-align: left;

      .text-placeholder {
        @include uppercase;
      }

      .social-container {
        display: flex;
        justify-content: end;

        .social {
          padding: 0 0.8rem 0 0;
        }
      }
    }
  }
}
