@use "../../styles/general" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about {
  color: $gray-scale--1;
  padding: $padding-L;
  min-height: 100vh;

  h1 {
    width: 80%;
  }

  .about-main {
    display: flex;
    justify-content: space-between;
    gap: $gap-8;
    margin: 8rem auto;

    .description {
      display: flex;
      gap: $gap-2;
      width: calc(100% / 2 - $gap-8);
      align-items: start;

      img {
        padding-top: 0.4rem;
      }

      .text {
        color: $gray-scale-2;

        p {
          padding-bottom: 0.8rem;
        }

        a {
          color: $gray-scale-4;
        }
        a:hover {
          color: $gray-scale--1;
        }
      }
    }

    .wrapper {
      overflow: hidden;
      position: relative;
      background-color: $gray-scale-9;

      &-L {
        min-width: 453px;
      }
      &-M {
        min-width: 325px;
      }
      &-S {
        min-width: 100%;
      }

      .image {
        width: 100%;
        height: auto;
      }
    }
  }

  .about-secondary {
    margin: 8rem auto;

    h4,
    h5 {
      @include uppercase;
    }

    .service-container {
      display: flex;
      gap: $gap-7;
      margin: 4rem auto;

      .service {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        gap: $gap-3;
        color: $gray-scale-2;

        hr {
          border: 1px solid $gray-scale-6;
          border-radius: 50%;
        }

        .subtitle {
          color: $gray-scale-0;
        }

        .text-paragraph {
          color: $gray-scale-3;
        }
      }
    }
  }

  @include respond-to(mobile) {
    padding: $padding-M;

    h1 {
      width: 100%;
    }
    .about-main {
      gap: $gap-6;
      flex-wrap: wrap;
      margin: 4rem auto;
      .description {
        width: 100%;
      }
    }

    .about-secondary {
      .service-container {
        flex-direction: column;
        .service {
          width: 100%;
        }
      }
    }
  }

  @include respond-to(tablet) {
    h1 {
      width: 100%;
    }
    .about-main {
      margin: 6rem auto;
      gap: $gap-4;
      flex-wrap: nowrap;
    }
  }

  .about-secondary {
    .service-container {
      gap: $gap-3;
    }
  }
}
