@use "../../styles/general" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.project-container {
  color: $gray-scale--1;
  padding: $padding-L;
  display: flex;
  flex-direction: column;
  gap: $gap-8;
  margin: 6rem auto;
  min-height: 70vh;

  .img-container {
    display: flex;
    gap: $gap-4;

    img {
      object-fit: cover;
    }
  }

  .main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap-5;
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
    gap: $gap-8;

    .info-container {
      display: flex;
      justify-content: space-between;
      color: $gray-scale-6;
      gap: $gap-4;

      .text-placeholder {
        color: $gray-scale--1;
        display: block;
      }

      .text-paragraph {
        color: $gray-scale-4;
      }
    }

    .description-container {
      display: flex;
      justify-content: space-between;
      gap: $gap-6;

      hr {
        height: 3rem;
        border: 1px solid $gray-scale-8-5;
        border-radius: $border-radius-circle;
      }

      .text-paragraph {
        color: $gray-scale-2;
        width: calc(100% / 2);
      }
    }
  }

  @include respond-to(tablet) {
    .img-container {
      img {
        height: 332px;
      }
    }
  }

  @include respond-to(mobile) {
    padding: $padding-M;
    margin: 4rem auto;
    .img-container {
      img {
        width: 280px;
      }
    }

    .bottom-container {
      .info-container {
        flex-direction: column;
      }

      .description-container {
        flex-wrap: wrap;
        gap: $gap-4;

        hr {
          display: none;
        }

        .text-paragraph {
          width: 100%;
        }
      }
    }
  }
}
