@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.success-message {
  color: $green-4;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: $gap-6;

  &-L {
    width: 480px;
  }
  &-M {
    width: 420px;
  }
  &-S {
    width: 100%;
  }

  .input-main {
    display: flex;
    gap: $gap-6;
    border-top: 1px solid $gray-scale-3;
    border-bottom: 1px solid $gray-scale-3;
    padding: 16px;

    .text-placeholder {
      color: $gray-scale-4;
    }

    .input-content {
      display: flex;
      flex-direction: column;
      gap: $gap-1;
      width: 100%;

      input,
      textarea {
        background-color: $background-dark;
        border: none;
        outline: none;
        color: $gray-scale-1;

        &::placeholder {
          color: $gray-scale-6;
        }
      }

      .error-message {
        color: $red-4;
        font-size: 0.875rem;
        margin-top: 4px;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
}
