@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.tools-container {
  padding: 24rem 5rem;
  background-color: $background-dark;

  display: flex;
  justify-content: start;
  gap: 5rem;
}
