// ====================
//Mixin per Stili Tipografici

@mixin typography($font-family, $font-size, $line-height, $text-weight) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $text-weight;
}

// ====================
//Mixin per Testo in Maiuscolo
@mixin uppercase {
  text-transform: uppercase;
}

// ====================
//Mixin per i bottoni seccondari
@mixin button-secondary($btn-paddings, $btn-font-size, $btn-font-weight) {
  padding: $btn-paddings;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
}

@mixin button-primary($btn-primary-paddings, $btn-font-size, $btn-font-weight) {
  padding: $btn-primary-paddings;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
}
