// Fonts Family
$font-title: "Chillax", sans-serif;
$font-body: "Satoshi", sans-serif;

// Titles
$h1-font-size: 4.3rem;
$h1-line-height: 120%;
$h1-font-weight: 600;

$h2-font-size: 3.583rem;
$h2-line-height: 120%;
$h2-font-weight: 600;

$h3-font-size: 2.986rem;
$h3-line-height: 110%;
$h3-font-weight: 500;

$h4-font-size: 2.488rem;
$h4-line-height: 120%;
$h4-font-weight: 500;

$h5-font-size: 2.074rem;
$h5-line-height: 120%;
$h5-font-weight: 500;

$h6-font-size: 1.728rem;
$h6-line-height: 100%;
$h6-font-weight: 500;

// Subtitles
$subtitle-l-font-size: 2.592rem;
$subtitle-l-line-height: auto;
$subtitle-l-font-weight: 500;

$subtitle-m-font-size: 2.16rem;
$subtitle-m-line-height: auto;
$subtitle-m-font-weight: 500;

$subtitle-s-font-size: 1.8rem;
$subtitle-s-line-height: auto;
$subtitle-s-font-weight: 500;

// Text
$text-paragraph-l-font-size: 1.8rem;
$text-paragraph-l-line-height: auto;
$text-paragraph-l-font-weight: 400;

$text-paragraph-m-font-size: 1.5rem;
$text-paragraph-m-line-height: auto;
$text-paragraph-m-font-weight: 400;

$text-paragraph-s-font-size: 1.25rem;
$text-paragraph-s-line-height: auto;
$text-paragraph-s-font-weight: 400;

// Placeholder
$text-placeholder-font-size: 1.042rem;
$text-placeholder-line-height: auto;
$text-placeholder-font-weight: 900;
