@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: $background-dark;
}

button {
  font-family: $font-title;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Typography
h1 {
  @include typography(
    $font-title,
    $h1-font-size,
    $h1-line-height,
    $h1-font-weight
  );
}

h2 {
  @include typography(
    $font-title,
    $h2-font-size,
    $h2-line-height,
    $h2-font-weight
  );
}

h3 {
  @include typography(
    $font-title,
    $h3-font-size,
    $h3-line-height,
    $h3-font-weight
  );
}

h4 {
  @include typography(
    $font-title,
    $h4-font-size,
    $h4-line-height,
    $h4-font-weight
  );
}

h5 {
  @include typography(
    $font-title,
    $h5-font-size,
    $h5-line-height,
    $h5-font-weight
  );
}

h6 {
  @include typography(
    $font-title,
    $h6-font-size,
    $h6-line-height,
    $h6-font-weight
  );
}

.subtitle-big {
  @include typography(
    $font-body,
    $subtitle-big-font-size,
    $subtitle-big-line-height,
    $subtitle-big-font-weight
  );
}
.subtitle-small {
  @include typography(
    $font-body,
    $subtitle-small-font-size,
    $subtitle-small-line-height,
    $subtitle-small-font-weight
  );
}
.text-paragraph-big {
  @include typography(
    $font-body,
    $text-paragraph-big-font-size,
    $text-paragraph-big-line-height,
    $text-paragraph-big-font-weight
  );
}
.text-paragraph-small {
  @include typography(
    $font-body,
    $text-paragraph-small-font-size,
    $text-paragraph-small-line-height,
    $text-paragraph-small-font-weight
  );
}
.text-placeholder {
  @include typography(
    $font-body,
    $text-placeholder-font-size,
    $text-placeholder-line-height,
    $text-placeholder-font-weight
  );
}
