@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-body;
  background-color: $background-dark;
  max-width: 1920px;
  padding-top: 60px;

  button {
    font-family: $font-title;
    border: none;
  }

  a {
    text-decoration: none;
    color: $gray-scale-6;
    margin: 0 0.8rem 0 0;

    &:hover {
      color: $gray-scale--1;
    }
  }

  li {
    list-style: none;
  }

  // Title
  h1 {
    @include typography(
      $font-title,
      $h1-font-size,
      $h1-line-height,
      $h1-font-weight
    );
  }

  h2 {
    @include typography(
      $font-title,
      $h2-font-size,
      $h2-line-height,
      $h2-font-weight
    );
  }

  h3 {
    @include typography(
      $font-title,
      $h3-font-size,
      $h3-line-height,
      $h3-font-weight
    );
  }

  h4 {
    @include typography(
      $font-title,
      $h4-font-size,
      $h4-line-height,
      $h4-font-weight
    );
  }

  h5 {
    @include typography(
      $font-title,
      $h5-font-size,
      $h5-line-height,
      $h5-font-weight
    );
  }

  h6 {
    @include typography(
      $font-title,
      $h6-font-size,
      $h6-line-height,
      $h6-font-weight
    );
  }

  // SubTitle
  .subtitle-big {
    @include typography(
      $font-body,
      $subtitle-l-font-size,
      $subtitle-l-line-height,
      $subtitle-l-font-weight
    );
  }
  .subtitle-medium {
    @include typography(
      $font-body,
      $subtitle-m-font-size,
      $subtitle-m-line-height,
      $subtitle-m-font-weight
    );
  }
  .subtitle-small {
    @include typography(
      $font-body,
      $subtitle-s-font-size,
      $subtitle-s-line-height,
      $subtitle-s-font-weight
    );
  }

  // Text
  .text-paragraph-big {
    @include typography(
      $font-body,
      $text-paragraph-l-font-size,
      $text-paragraph-l-line-height,
      $text-paragraph-l-font-weight
    );
  }
  .text-paragraph-medium {
    @include typography(
      $font-body,
      $text-paragraph-m-font-size,
      $text-paragraph-m-line-height,
      $text-paragraph-m-font-weight
    );
  }
  .text-paragraph-small {
    @include typography(
      $font-body,
      $text-paragraph-s-font-size,
      $text-paragraph-s-line-height,
      $text-paragraph-s-font-weight
    );
  }

  // Placeholder
  .text-placeholder {
    @include typography(
      $font-body,
      $text-placeholder-font-size,
      $text-placeholder-line-height,
      $text-placeholder-font-weight
    );
  }
}
