@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray-scale-4;
  padding: 0 120px;
  background-color: $gray-scale-10;

  h1 {
    color: $gray-scale--1;
  }

  .hero-content {
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin-top: 32px;
    gap: 24px;

    .text-paragraph-L {
      width: 60%;
    }
  }
}
