@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray-scale-4;
  padding: $padding-L;
  background-color: $gray-scale-10;

  h1,
  h2,
  h3 {
    color: $gray-scale--1;
  }

  .hero-content {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 2rem;
    gap: $gap-4;

    img {
      padding-top: 0.6rem;
    }

    .text-paragraph {
      width: 60%;

      &-S {
        width: 70%;
      }
      &-M {
        width: 60%;
      }
      &-L {
        width: 50%;
        margin-right: 1rem;
      }
    }
  }

  @include respond-to(mobile) {
    padding: $padding-M;
  }
}
