@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray-scale-4;
  padding: $padding-L;
  background-color: $gray-scale-10;

  h1 {
    color: $gray-scale--1;
  }

  .hero-content {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 2rem;
    gap: $gap-5;

    img {
      padding-top: 0.4rem;
    }

    .text-paragraph-L {
      width: 60%;
    }
  }
}
