@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.btn {
  background-color: $background-dark;
  color: $gray-scale-1;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: $btn-padding;
  font-weight: $btn-font-weight;
  border-radius: 100px;

  .icon {
    display: flex;
  }

  &:hover {
    background-color: $gray-scale--1;
    color: $gray-scale-10;

    path {
      stroke: $gray-scale-10;
    }
  }

  &-S {
    @include btn(map-get($btn-font-size, S), map-get($btn-border-size, S));
  }

  &-M {
    @include btn(map-get($btn-font-size, M), map-get($btn-border-size, M));
  }

  &-L {
    @include btn(map-get($btn-font-size, L), map-get($btn-border-size, L));
  }
}
