@use "../../styles/general";

.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    li a {
      text-decoration: none;
      color: #333;
      font-weight: bold;

      &:hover {
        color: #007bff;
      }
    }
  }
}
