@use "../../../styles/general" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.section-title {
  position: fixed;
  color: $gray-scale-8-5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  &-L {
    font-size: 200px;
  }
  &-M {
    font-size: 128px;
  }
  &-S {
    font-size: 96px;
  }
}
